services:
  api:
    build:
      context: .
      dockerfile: Dockerfile.api
    ports:
      - "3000:3000"
    environment:
      - DEFI_ADAPTERS_PROVIDER_ETHEREUM
      - DEFI_ADAPTERS_PROVIDER_OPTIMISM
      - DEFI_ADAPTERS_PROVIDER_BSC
      - DEFI_ADAPTERS_PROVIDER_POLYGON
      - DEFI_ADAPTERS_PROVIDER_FANTOM
      - DEFI_ADAPTERS_PROVIDER_BASE
      - DEFI_ADAPTERS_PROVIDER_ARBITRUM
      - DEFI_ADAPTERS_PROVIDER_AVALANCHE
      - DEFI_ADAPTERS_PROVIDER_LINEA
      - DEFI_ADAPTERS_USE_POSITIONS_CACHE=true
      - USE_ADAPTERS_WITH_USER_EVENT_ONLY=true
      - CACHE_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/defi-adapters
      - CACHE_DATABASE_DISABLE_SSL=true
      - BEACON_BASE_URL
      - BEACON_NODE_API_KEY
    depends_on:
      postgres:
        condition: service_healthy
      
  workers:
    build:
      context: .
      dockerfile: Dockerfile.workers
    ports:
      - "4000:4000"
    environment:
      - DEFI_ADAPTERS_PROVIDER_ETHEREUM
      - DEFI_ADAPTERS_PROVIDER_OPTIMISM
      - DEFI_ADAPTERS_PROVIDER_BSC
      - DEFI_ADAPTERS_PROVIDER_POLYGON
      - DEFI_ADAPTERS_PROVIDER_FANTOM
      - DEFI_ADAPTERS_PROVIDER_BASE
      - DEFI_ADAPTERS_PROVIDER_ARBITRUM
      - DEFI_ADAPTERS_PROVIDER_AVALANCHE
      - DEFI_ADAPTERS_PROVIDER_LINEA
      - CACHE_DATABASE_URL=postgresql://postgres:postgres@postgres:5432/defi-adapters
      - CACHE_DATABASE_DISABLE_SSL=true
      - BLOCK_RUNNER_BATCH_SIZE=10
      - HISTORIC_CACHE_BATCH_SIZE=5
      - BEACON_BASE_URL
      - BEACON_NODE_API_KEY
    depends_on:
      postgres:             
        condition: service_healthy

  # Optional: To run just database service (run manually docker-compose up postgres)
  postgres:
    image: postgres:17
    ports:
      - "5432:5432"
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=defi-adapters
    volumes:
      - postgres_data:/var/lib/postgresql/data
    healthcheck:
      test: ["CMD-SHELL", "pg_isready -U postgres -d defi-adapters"]
      interval: 5s
      timeout: 5s
      retries: 5
    restart: unless-stopped

  # Optional: Reset database service (run manually when needed docker-compose --profile reset run reset-db)
  reset-db:
    image: postgres:17
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
      - POSTGRES_DB=postgres
    volumes:
      - postgres_data:/var/lib/postgresql/data
    command: >
      sh -c "
        psql -h postgres -U postgres -c 'DROP DATABASE IF EXISTS \"defi-adapters\";' &&
        psql -h postgres -U postgres -c 'CREATE DATABASE \"defi-adapters\";' &&
        echo 'Database reset complete!'
      "
    depends_on:
      - postgres
    profiles:
      - reset

volumes:
  postgres_data:
    driver: local
