name: Node.js Build and Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  build-and-test:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'
      
      - name: Install dependencies
        run: npm ci

      - name: Verify eslint config
        run: npm run lint

      - name: Verify prettier config
        run: npm run prettier

      - name: Verify that the code builds
        run: npm run build

      - name: Run new adapter
        run: npm run new-adapter

      - name: Run tests
        run: npm test
        env:
          ETHEREUM_PROVIDER_URL: ${{ secrets.ETHEREUM_PROVIDER_URL }}
          OPTIMISM_PROVIDER_URL: ${{ secrets.OPTIMISM_PROVIDER_URL }}
          BSC_PROVIDER_URL: ${{ secrets.BSC_PROVIDER_URL }}
          POLYGON_PROVIDER_URL: ${{ secrets.POLYGON_PROVIDER_URL }}
          FANTOM_PROVIDER_URL: ${{ secrets.FANTOM_PROVIDER_URL }}
          BASE_PROVIDER_URL: ${{ secrets.BASE_PROVIDER_URL }}
          ARBITRUM_PROVIDER_URL: ${{ secrets.ARBITRUM_PROVIDER_URL }}
          AVALANCHE_PROVIDER_URL: ${{ secrets.AVALANCHE_PROVIDER_URL }}
          LINEA_PROVIDER_URL: ${{ secrets.LINEA_PROVIDER_URL }}
          ENABLE_MULTICALL_QUEUE: true