name: Update and publish package

on:
  workflow_dispatch:
    inputs:
      semver:
        description: 'The semver to increase (major, minor, patch, premajor, preminor, prepatch, prerelease)'
        required: true

jobs:
  publish:
    runs-on: ubuntu-latest
    steps:
      - name: Validate input
        run: |
          semver="${{ github.event.inputs.semver }}"
          valid_values=("major" "minor" "patch" "premajor" "preminor" "prepatch" "prerelease")
          if ! [[ " ${valid_values[@]} " =~ " ${semver} " ]]; then
            echo "Invalid semver input: ${semver}"
            exit 1
          fi

      - name: Checkout code
        uses: actions/checkout@v4
        with:
          fetch-tags: true
          token: ${{ secrets.TEST_PAT }}

      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm ci

      - name: Test
        run: npm test

      - name: Configure Git User
        run: |
          git config user.name "${GITHUB_ACTOR}"
          git config user.email "${GITHUB_ACTOR}"@users.noreply.github.com

      - name: Update package version
        run: npm version ${{ github.event.inputs.semver }} -m "Upgrade to %s"
      
      - name: Push new version tag to main branch
        run: git push origin main --tags

      - name: Build
        run: npm run build

      - name: Publish
        run: npm publish
        env:
          NODE_AUTH_TOKEN: ${{secrets.NPM_TOKEN}}