name: Node.js Build and Test
on:
  pull_request:
    branches:
      - main
  push:
    branches:
      - main

jobs:
  lint-and-verify-cli:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Copy .env.example to .env
        run: cp .env.example .env

      - name: Install dependencies
        run: npm ci

      - name: Verify tsc config
        run: npm run test:tsc

      - name: Verify eslint config
        run: npm run lint

      - name: Verify prettier config
        run: npm run prettier

      - name: Build
        run: npm run build

      - name: Create new adapter with DefaultAdapter template
        run: |
          if [ ! -f .env ]; then
            touch .env
          fi
          npm run new-adapter -- -p test-default-adapter-protocol -pd pool -c 1 -t DefaultAdapter -y
          npm run build

      - name: Create new adapter with SimplePoolAdapter template
        run: |
          npm run new-adapter -- -p test-simple-pool-adapter-protocol -pd pool -c 1 -t SimplePoolAdapter -y
          npm run build
          npm run build-metadata -- -p test-simple-pool-adapter-protocol
          npm run build

      - name: Create new adapter with UniswapV2PoolForkAdapter template
        run: |
          npm run new-adapter -- -p test-uniswap-v2-pool-fork-adapter-protocol -pd pool -c 1,10,42161 -t UniswapV2PoolForkAdapter -y
          npm run build
      - name: Create new adapter with LpStakingAdapter template
        run: |
          npm run new-adapter -- -p test-lp-staking-adapter -pd pool -c 1,10,42161 -t LpStakingAdapter -y
          npm run build

  run-tests:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v3

      - uses: actions/setup-node@v3
        with:
          node-version-file: '.nvmrc'

      - name: Install dependencies
        run: npm ci

      - name: Build
        run: npm run build

      - name: Run tests
        run: npm run test:cov
        env:
          ETHEREUM_PROVIDER_URL: ${{ secrets.ETHEREUM_PROVIDER_URL }}
          OPTIMISM_PROVIDER_URL: ${{ secrets.OPTIMISM_PROVIDER_URL }}
          BSC_PROVIDER_URL: ${{ secrets.BSC_PROVIDER_URL }}
          POLYGON_PROVIDER_URL: ${{ secrets.POLYGON_PROVIDER_URL }}
          FANTOM_PROVIDER_URL: ${{ secrets.FANTOM_PROVIDER_URL }}
          BASE_PROVIDER_URL: ${{ secrets.BASE_PROVIDER_URL }}
          ARBITRUM_PROVIDER_URL: ${{ secrets.ARBITRUM_PROVIDER_URL }}
          AVALANCHE_PROVIDER_URL: ${{ secrets.AVALANCHE_PROVIDER_URL }}
          LINEA_PROVIDER_URL: ${{ secrets.LINEA_PROVIDER_URL }}
          ENABLE_MULTICALL_QUEUE: true
